<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
    <env name="GAZEBO_RESOURCE_PATH" value="$(find gazebo_envs)/materials"/>
    <arg name="world_name" value="$(find gazebo_envs)/worlds/aruco.world"/>
    <!-- more default parameters can be changed here -->
  </include>

</launch>



